#githubicon{
    width: 75px;
    height: 75px;
}
.inputcontainer{
    --bs-gutter-x: 0rem;
}
.submitbtn{
    width: 80%;
    color: #5d5c61;
    background-color: #D1C0A8;
}
.descriptor{
    background-color: #5d5c61;
    color: #D1C0A8;
    border-color: #5d5c61;
}
.inputfield{
    background-color: #D1C0A8;
    border-color: #5d5c61;
}
#email{
    color: #D1C0A8;
}
.form-control:focus{
    background-color: #659DBD;
}