#emailicon{
    height: 75px;
    width: 75px;
}
#linkedinicon{
    height: 75px;
    width: 283px;
}
#githubicon{
    width: 75px;
    height: 75px;
}
/* #iconlist{
    display: flex;
    justify-content: space-around;
} */